<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mido.xo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon3"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicTacToy">
        <activity
            android:name="com.mido.xo.MainActivity2"
            android:exported="true" />
        <activity
            android:name="com.mido.xo.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.TicTacToyN" />
        <activity
            android:name="com.mido.xo.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.mido.xo.SecondActivity"
            android:exported="true"
            android:theme="@style/Theme.TicTacToyN" />
        <activity
            android:name="com.mido.xo.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.TicTacToyN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>